@model DevBlog5.Models.Blog
@using DevBlog5.Services
@inject IImageService _imageService

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Blog</h1>
<p>@ViewData["pageNum"]</p>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="card-image">
                @if (Model.ImageData != null)
                {
                    <img id="editBlogImage" src="@_imageService.DecodeImage(Model.ImageData, Model.ContentType)">

                }
                else
                {
                    <img id="editBlogImage" src="~/assets/images/defaultUserImage.png">
                }
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="newImage" id="imageInput" asp-for="Image" class="form-control" accept=".jpg,.png,.jpeg,.gif,.webp"
                       onchange="document.getElementById('editBlogImage').src=window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-actions" />
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="javascript:history.back()"><img src="~/assets/images/skip-backward-fill.svg" style="width: 2rem;" /></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
