

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog | @ViewData["Title"]</title>
    <!-- Favicons -->
    <link href="~/assets/images/dblogo.svg" rel="icon" />
    <link href="~/assets/images/dblogo.svg" rel="apple-touch-icon" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/css/font.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/css/li-scroller.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.fancybox.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/assets/css/theme.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/vendor/boxicons/css/boxicons.min.css" asp-append-version="true">
    <link href="~/assets/css/summernote-lite.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/site.css" asp-append-version="true" />
</head>
<body>



    <!-- preloader-->
    @*     <div id="preloader">
    <div id="status">&nbsp;</div>
    </div> *@

    <a id="back-top" class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    @*-----------------------------------------------------------------------------------------

    HEADER

    -----------------------------------------------------------------------------------------*@

    <section id="navArea" class="fixed">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <div class="search-bar">
                    <form asp-action="SearchIndex" asp-controller="Posts">
                        <input type="text" name="SearchTerm" class="form-control" placeholder="Search...">
                        <button class="btn-actions" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse row row-cols-1 row-cols-md-2">
                <div class="col header_top_left">
                    <ul class="navbar-nav main_nav">
                        <li class="nav=item">
                            <a class="nav-link" style="margin-left: 1rem;" href="https://www.davidbellerose.com" target="_blank">
                                <img src="~/assets/images/dblogo.svg" height="25" alt="David Bellerose Logo">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><span class="fa fa-home desktop-home" style="font-size: 1.5rem;"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://davidbellerose.com" target="_blank">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
                        </li>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="dropdown">
                                <span>></span>
                                <div class="dropdown-content">

                                    <a class="" asp-area="" asp-controller="Blogs" asp-action="Index">Blogs</a>
                                    <a class="" asp-area="" asp-controller="Posts" asp-action="IndexFilter">Posts</a>
                                    <a class="" asp-area="" asp-controller="Comments" asp-action="Index">Comments</a>
                                    <a class="" asp-area="" asp-controller="Tags" asp-action="Index">Tags</a>
                                </div>
                            </div>
                        }
                    </ul>
                </div>
                <div class="search-bar">
                    <form asp-action="SearchIndex" asp-controller="Posts">
                        <input type="text" name="SearchTerm" class="form-control" placeholder="Search...">
                        <button class="btn-actions" type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="header_top_right">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </section>
    @*-----------------------------------------------------------------------------------------

    MAIN CONTENT

    -----------------------------------------------------------------------------------------*@



    <div class="container">
        @*-----------------------------------------------------------------------------------------

        TICKER

        -----------------------------------------------------------------------------------------*@
        <section id="newsSection" style="margin-top:80px;">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="ticker-wrapper-h">
                        <div class="heading">Latest News</div>

                        <ul class="news-ticker-h">
                            <li>
                                <a href="https://twitter.com/DavidEBellerose/status/1659634710442549274" target="_blank">
                                    <img src="~/assets/images/dblogo.svg" alt="David Bellerose Logo">
                                    David Bellerose: ASP.NET Full Stack Web Developer
                                </a>
                            </li>
                            <li>
                                <a href="https://david-bellerose-blog.up.railway.app/BlogPosts/UrlFriendly/why-i-chose-to-code#commentSection" target="_blank">
                                    <i class="fa fa-file-invoice"></i>
                                    Why I chose to code
                                </a>
                            </li>
                            <li>
                                <a href="https://symetrak-asp-net.up.railway.app/" target="_blank">
                                    <img src="~/assets/images/symetrak-icon.png" />
                                    SymeTrak is now live
                                </a>
                            </li>
                            <li>
                                <a href="https://learn.coderfoundry.com/" target="_blank">
                                    <img src="~/assets/images/cf-icon.png" />
                                    Learn how to code in ASP.NET C#
                                </a>
                            </li>
                        </ul>

                        <div class="social_area">
                            <ul class="social_nav">
                                <li class="twitter"><a href="https://twitter.com/DavidEBellerose" target="_blank"></a></li>
                                <li class="linkedin"><a href="https://www.linkedin.com/in/david-bellerose" target="_blank"></a></li>
                                <li class="website"><a href="https://www.davidbellerose.com" target="_blank"></a></li>
                                <li class="github"><a href="https://github.com/daveyedgar" target="_blank"></a></li>
                                <li class="mail"><a href="https://www.davidbellerose.com/#contact" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @*-----------------------------------------------------------------------------------------

        =================      MAIN CONTENT

        -----------------------------------------------------------------------------------------*@

        <section id="contentSection">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-12">
                    <!-- first column-->
                    @RenderBody()
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12">
                    <!-- second column nest the remaining in this column-->
                    @*-----------------------------------------------------------------------------------------

                    LATEST POST

                    -----------------------------------------------------------------------------------------*@

                    <div class="latest_post">
                        <h2><span>Latest posts</span></h2>
                        <div class="latest_post_container">
                            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
                            <ul class="latest_postnav">
                                @await Component.InvokeAsync("RecentPosts")
                            </ul>
                            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
                        </div>
                    </div>

                    @*-----------------------------------------------------------------------------------------

                    COMMENTS

                    -----------------------------------------------------------------------------------------*@
                    <div class="single_sidebar">
                        <h2><span>Latest Comments</span></h2>
                        <div class="spost_nav_container">
                            <ul class="spost_nav">
                                @await Component.InvokeAsync("RecentComments")
                            </ul>
                        </div>
                    </div>
                    @*-----------------------------------------------------------------------------------------

                    CATEGORIES

                    -----------------------------------------------------------------------------------------*@
                    <div class="single_sidebar">
                        <h2><span>Categories</span></h2>
                        <div class="category_nav_container">
                            <ul class="spost_nav">
                                @await Component.InvokeAsync("RecentCategories")
                            </ul>
                        </div>
                    </div>
                    @*-----------------------------------------------------------------------------------------

                    TAGS

                    -----------------------------------------------------------------------------------------*@
                    <div class="single_sidebar">
                        <h2><span>Tags</span></h2>

                        <div class="tag-content">
                            <div role="tabpanel" class="tab-pane active" id="tag">
                                <ul>
                                    @await Component.InvokeAsync("RecentTags")
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    @*-----------------------------------------------------------------------------------------

    COOKIE MODAL                                                                  COOKIE MODAL

    -----------------------------------------------------------------------------------------*@
    <div class="js-cookiebar cookiebar">
    <div class="ccard">
    <div class="ccard-inner">
    <div class="ccard-content">
    <h4 class="ccard-title">Cookie Conset</h4>
    <p>
    https://davidbellerose.com uses cookies (and other techniques) to collect information about the use of the
    platform in order to analyze and improve your experience, for the use of social media, and to ensure that
    advertisements are relevant to you. See our <a href="https://www.davidbellerose.com/cookie.html" target="_blank" class="link">
    Cookie Policy
    </a>, <a href="https://davidbellerose.com/terms.html" target="_blank" class="link">Terms &#38; Conditions</a>,
    and <a href="https://davidbellerose.com/privacy.html" target="_blank" class="link">Privacy Statement</a> for more information.
    By continuing on this site and accepting our cookies you agree to the
    collection of information on this basis by us and by third parties
    on the platform.
    <h6>Please customize your cookie settings below.</h6>
    <hr>
    <div class="justify-content-center">
    <div class="">
    <label class="custom-control material-switch">
    <input id="basic_chkbx" class="material-switch-control-input" type="checkbox" name="items" value="true" disabled checked />
    <span class="material-switch-control-indicator switch-basic"></span>
    Basic
    </label>
    </div>
    <div class="">
    <label class="custom-control material-switch">
    <input id="preferences_chkbx" class="material-switch-control-input" type="checkbox" name="items" value="true" checked />
    <span class="material-switch-control-indicator"></span>
    Preferences
    </label>
    </div>
    <div class="">
    <label class="custom-control material-switch">
    <input id="statistics_chkbx" class="material-switch-control-input" type="checkbox" name="items" value="true" checked />
    <span class="material-switch-control-indicator"></span>
    Statistics
    </label>
    </div>
    <div class="">
    <label class="custom-control material-switch">
    <input id="marketing_chkbx" class="material-switch-control-input" type="checkbox" name="items" value="true" checked />
    <span class="material-switch-control-indicator"></span>
    Marketing
    </label>
    </div>
    </div>
    <div class="justify-content-center-btn">
    <button type="button" class="btn btn-actions" id="cookiebutton" onclick="onCookieButtonClick()">Accept</button>
    </div>
    </div>
    </div>
    </div>
    </div>

    @*-----------------------------------------------------------------------------------------

    CRUD POPUP MODAL                                                                CRUD POPUP MODAL

    -----------------------------------------------------------------------------------------*@
    <div id="myModalSuccess" class="modal fade text-width:30%" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Information</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success">
                    message
                </div>
                <div class="modal-footer">
                    &nbsp;
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-content"></div>
        </div>
    </div>
    @*-----------------------------------------------------------------------------------------

    FOOTER

    -----------------------------------------------------------------------------------------*@

    <div class="footer-container">
        <div class="footer-item">
            <span>&copy;2022</span> &nbsp;David Bellerose |&nbsp;
            <a class="ms-2" href="https://davidbellerose.com/privacy.html" target="_blank">Privacy</a> &nbsp;|&nbsp;
            <a class="ms-2" href="https://davidbellerose.com/terms.html" target="_blank">Terms & Conditions</a> &nbsp;|&nbsp;
            <a class="ms-2" href="https://davidbellerose.com/cookies.html" target="_blank">Cookie Policy</a> &nbsp;|&nbsp;
            <button id="open-cookie" class="js-change-cookie">Change Cookie Preferences</button>
        </div>
        <div class="footer-item">
            <a href="https://www.davidbellerose.com" target="_blank" rel="noopener noreferrer"><img src="~/assets/images/dblogo.svg" height="25" alt="David Bellerose Logo"></a>
        </div>
        <div class="footer-item">
            <a href="https://www.linkedin.com/in/david-bellerose" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://www.davidbellerose.com" target="_blank" rel="noopener noreferrer">
                <img src="~/assets/images/businessman-with-briefcase-icon.svg" style="width: 40px;height:auto;" />
            </a>
            <a href="https://www.davidbellerose.com/#contact" target="_blank" rel="noopener noreferrer">
                <img src="~/assets/images/envelope-at-fill.svg" />
            </a>
            <a href="https://twitter.com/DavidEBellerose" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="https://github.com/daveyedgar" target="_blank" rel="noopener noreferrer"><i class="fab fa-github fa-2x"></i></a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/45e2949365.js" crossorigin="anonymous" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/wow.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/assets/js/jquery.li-scroller.1.0.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.newsTicker.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.easy-ticker.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery.fancybox.pack.js" asp-append-version="true"></script>
    <script src="~/assets/js/slick.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/summernote-lite.min.js"></script>
    <script src="~/assets/js/custom.js" asp-append-version="true"></script>
    <script src="~/assets/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
