@using Microsoft.AspNetCore.Identity
@using DevBlog5.Models
@using DevBlog5.Services
@inject IImageService _imageService
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

@{
    BlogUser user = await UserManager.GetUserAsync(User);
}

<ul class="nav navbar-nav main_nav">
    @if (SignInManager.IsSignedIn(User))
    { 
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <div class="user-icon">
                    @if (user.ImageData != null)
                    {
                        <img id="imageFileData" src="@_imageService.DecodeImage(user.ImageData, user.ContentType)">

                    }
                    else
                    {
                        <img id="imageFileData" src="~/assets/images/defaultUserImage.png">
                    }

                    Hello, &nbsp;@user.FirstName
                </div>
            </a>
        </li>
        <li class="nav-item logout-form">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-item" asp-area="Identity" asp-page="/Account/Login" style="background-color:#d083cf;">Demo User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
