
:root {
	--primary-color: #1d5888;
	--secondary-color: #ff993b;
	--dark-color: #292929;
	--white-color: #e7e7e7;
}

html {
	font-size: 16px;
	color: black;
	position: relative;
	min-height: 100vh;
}


body {
	position: relative;
	min-height: 100vh;
	margin: 0;
	background-color: whitesmoke;
	background-color: #efefef;
	display: flex;
	flex-direction: column;
}

.account-content {
	flex: 1 0 auto;
}

input {
	box-sizing: border-box
}

#newsSection {
	float: left;
	display: inline;
	width: 100%;
	background-color: #fff;
	margin: 20px 0;
}


/*****************************************************************************************
	
	SEARCH BAR                                                                      SEARCH BAR

*****************************************************************************************/

.search-bar {
	position: fixed;
	width: 200px;
	top: 10px;
	left: 45%;
	z-index: 999;
	margin: 0;
	padding: 0;
}

	.search-bar form {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 200px;
	}

	.search-bar input {
		margin: 0;
		padding: 0;
		height: 30px;
		border-radius: 0px;
		padding: 0 5px;
	}

	.search-bar button {
		margin: 0;
		padding: 0;
		height: 30px;
		border-radius: 0px;
		width: 50px;
	}

@media (max-width: 765px) {
	.search-bar {
		left: 10px;
		width: 201px;
	}
}

/*search form to of layout page*/


/*****************************************************************************************
	
	LOGIN PARTIAL MENU                                                      LOGIN PARTIAL MENU

*****************************************************************************************/




/* social icon links at end of tweets/news bar */
.social_nav li.linkedin a {
	background-image: url("../images/linkedin.svg");
	background-position: 0px -62px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

	.social_nav li.linkedin a:hover {
		background-position: -0px -11px;
		background-size: 20px 20px;
		background-size: cover;
	}

.social_nav li.website a {
	background-image: url("../images/briefcase.svg");
	background-position: 0px -44px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

	.social_nav li.website a:hover {
		background-position: -0px -4px;
		background-size: 20px 20px;
		background-size: cover;
	}


.social_nav li.github a {
	background-image: url("../images/github.svg");
	background-position: -0px -62px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-size: cover;
}

	.social_nav li.github a:hover {
		background-position: -0px -7px;
		background-size: 20px 20px;
		background-size: cover;
	}




#sliderSection {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
	padding: 0 30px
}

#contentSection {
	float: left;
	display: inline;
	width: 100%;
}

.category_nav_containier {
	height: 500px;
}


/*****************************************************************************************
	
	DEFAULTS																			DEFAULTS

*****************************************************************************************/


ul {
	padding: 0;
	margin: 0;
	list-style: none
}

a {
	text-decoration: none;
	color: #fff
}

	a:hover {
		color: black;
		text-decoration: none
	}

	a:visited {
		text-decoration: none
	}

	a:focus {
		outline: none;
		text-decoration: none
	}

	a:focus-visible {
		outline: none;
		text-decoration: none;
		border: 4px solid green;
	}

button:focus-visible {
	outline: none;
	text-decoration: inherit;
	border: 4px solid green;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald',sans-serif
}

h2 {
	line-height: 23px
}

img {
	border: none
}

	img:hover {
		opacity: 0.75
	}

button.btn-sm, a.btn-sm {
	line-height: 0.8;
	display: block;
}

button:visited{
	color: white;
}


/* contact form*/
.showEmail {
	cursor: pointer;
	color: #fff;
}

	.showEmail:hover {
		background-color: #0094ff;
	}

.showPhone {
	cursor: pointer;
	color: #fff;
}

	.showPhone:hover {
		background-color: #0094ff;
	}

.catg_title {
	color: black;
}

/* post create view header*/
.create-post-header {
	font-size: 1.2rem;
}

	.create-post-header span {
		font-size: 1.3rem;
		font-weight: bold;
	}
/* create post image*/
.preview-img img {
	max-width: 90%;
	height: auto;
}
/*****************************************************************************************
	
	HEADER NAV                                                                      HEADER NAV

*****************************************************************************************/


.dropdown {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 1.5rem;
	margin: 0;
	padding-top: 7px;
	padding-left: 15px;
	width: 50px;
	border-left: 1px solid #383838;
	border-right: 1px solid #383838;
	height: 50px;
}

	.dropdown:hover {
		background-color: #d083cf;
	}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}



.dropdown:hover .dropdown-content {
	font-size: 1rem;
	display: block;
	background-color: #222222;
	color: #fff;
	border: 1px solid #383838;
}

.dropdown-content a {
	display: flex;
	align-items: center;
	padding: 15px;
	border: 1px solid #383838;
}


	.dropdown-content a:hover {
		background-color: #d083cf;
		color: #fff;
	}

@media (max-width: 765px) {
	.dropdown {
		border-right: none;
	}

		.dropdown:hover .dropdown-content {
			font-size: 0.8rem;
			left: 45px;
			top: 0px;
		}
}


/*****************************************************************************************
	
	NAVBAR                                                                     NAVBAR

*****************************************************************************************/
.navbar {
	margin-bottom: 0;
}
/*  logout button on header*/
.navbar-nav {
	margin: 0;
}

.logout-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: none;
	border: none;
	margin: 0;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

	.logout-form button {
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		outline: inherit;
		background-color: none;
		height: 50px;
		font-size: 1rem;
		color: #ddd;
		font-family: 'Oswald',sans-serif;
		display: inline-block;
		height: 50px;
		line-height: 50px;
		padding: 0 14px;
		text-shadow: 0 1px 1px #000;
		text-transform: uppercase;
		-webkit-transition: all 0.5s;
		-mz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s
	}

		.logout-form button:hover {
			background-color: #d083cf;
		}


.header_top_right {
}


.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.header_top_right {
	display: flex;
	justify-content: end;
	width: 50%;
	text-align: right
}

	.header_top_right > li {
		color: #fff;
		display: inline;
		float: right;
		font: bold 12px sans-serif;
		margin-bottom: 0;
		padding-bottom: 20px;
		padding-right: 8px;
		padding-top: 20px
	}


@media (max-width: 755px) {
	.logout-form {
		display: flex;
		justify-content: start;
		align-items: start;
	}

	#logoutForm {
		display: flex;
		justify-content: start;
		align-items: start;
	}

	.main_nav {
		text-align: left;
		float: left;
	}
}

.user-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
}

	.user-icon img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
	}
/*****************************************************************************************
	
	ACCOUNT IDENTITY PAGES                                                 ACCOUNT IDENTITY PAGES 

*****************************************************************************************/

.account li a {
	color: blue;
}

	.account li a:hover {
		color: darkblue;
	}

.account li {
	display: block;
}

.userimage img {
	font-family: 'Helvetica';
	font-weight: 300;
	line-height: 1;
	text-align: center;
	display: block;
	position: relative;
}

	.userimage img:before {
		content: "";
		display: block;
		left: 0;
		width: 100px;
		height: 80px;
		padding-top: 20px;
		background-color: rgb(230, 230, 230);
		border: 2px dotted rgb(200, 200, 200);
		border-radius: 5px;
	}


/*****************************************************************************************
	
	BACK TO TOP                                                      BACK TO TOP

*****************************************************************************************/
.scrollToTop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	display: none;
	font-size: 32px;
	font-weight: bold;
	height: 50px;
	text-align: center;
	text-decoration: none;
	width: 50px;
	z-index: 9;
	border: 1px solid;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s
}

	.scrollToTop:hover, .scrollToTop:focus {
		text-decoration: none;
		outline: none
	}




/*  to shift the location of the back to top button to clear the footer*/
#back-top.shift {
	bottom: 80px;
	transition: bottom 1s;
}

@media (max-width: 755px) {
	#back-top.shift {
		bottom: 150px;
		transition: bottom 1s;
	}
}

@media (max-width: 621px) {
	#back-top.shift {
		bottom: 170px;
		transition: bottom 1s;
	}
}

.ticker-wrapper-h {
	display: flex;
	position: relative;
	overflow: hidden;
	background-color: black;
}

	.ticker-wrapper-h .heading {
		background-color: #d083cf;
		color: #fff;
		font-family: Oswald,sans-serif;
		font-size: 15px;
		padding: 5px 10px;
		flex: 0 0 auto;
		z-index: 1;
		line-height: 1.8em;
		padding: 2px 18px 1px 19px;
	}

.news-ticker-h {
	display: flex;
	margin: 0;
	padding: 0;
	padding-left: 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: tic-h;
	animation-duration: 25s;
}

	.news-ticker-h:hover {
		animation-play-state: paused;
	}

	.news-ticker-h li {
		color: #fff;
		display: flex;
		width: 100%;
		align-items: center;
		white-space: nowrap;
		padding-left: 40px;
	}

		.news-ticker-h li a {
			font-weight: bold;
			color: #fff;
		}

			.news-ticker-h li a img {
				height: 20px;
				margin-right: 0.3rem;
			}

@keyframes tic-h {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}

	100% {
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}
}

/* pagination*/
.pagination {
	margin-left: 20px;
}

.latest_postnav li a:hover {
	color: #d083cf;
}
/*****************************************************************************************
	
	FOOTER                                                                  FOOTER

*****************************************************************************************/
.footer-container {
	display: grid;
	grid-template-columns: 1fr 15% 1fr;
	grid-gap: 10px;
	padding: 0.8rem 0;
	position: static;
	bottom: 0;
	background-color: #303030;
	color: #ccc;
	width: 100%;
	margin-top: 2rem;
}

.footer-item {
	display: flex;
	align-items: center;
	justify-content: start;
}

	.footer-item a {
		color: white;
	}

		.footer-item a:hover {
			color: #d083cf;
		}

		.footer-item a:visited {
			color: white;
		}

		.footer-item a:active {
			color: white;
		}

		.footer-item a:focus {
			color: white;
		}

		.footer-item a img {
			width: 30px;
			height: auto;
		}

	.footer-item:nth-child(1) {
		flex-wrap: wrap;
	}

	.footer-item:nth-child(2) {
		justify-content: center;
	}

	.footer-item:nth-child(3) {
		justify-content: end;
	}

		.footer-item:nth-child(3) a {
			padding: 0 1rem;
			color: #d083cf;
		}

			.footer-item:nth-child(3) a:hover {
				opacity: 0.7;
			}



@media ( max-width: 755px ) {
	.footer-container {
		grid-template-columns: 1fr 1fr;
	}

	.footer-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.footer-item:nth-child(1) {
			order: 3;
			grid-column: 3 / 1;
		}

		.footer-item:nth-child(2) {
			order: 2;
			grid-column: 3 / 1;
		}

		.footer-item:nth-child(3) {
			order: 1;
			grid-column: 3 / 1;
			justify-content: center;
		}
}


.note-editable {
	background-color: white !important;
	color: black !important;
}


/*****************************************************************************************
	
	CRUD BUTTONS																CRUD BUTTONS 

*****************************************************************************************/


/* for the crud buttons*/
.btn-actions {
	border: 2px solid #d083cf;
	background-color: #d083cf;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	border-radius: 5px;
}

.btn-readmore {
	border: 1px solid #d083cf;
	background-color: #d083cf;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000000;
	border-radius: 2px;
	padding: 1px 4px;
}


	.btn:hover,
	.btn:visited,
	.btn:active,
	.btn-actions:hover,
	.btn-actions:visited,
	.btn-actions:active,
	.btn-readmore:hover,
	.btn-readmore:visited,
	.btn-readmore:active {
		border: 2px solid #d083cf;
		color: #d083cf;
		text-shadow: none;
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

.btn:link:not(:hover) {
	color: white;
}

.btn-readmore:link:not(:hover) {
	color: white;
}

.btn-actions:link:not(:hover) {
	color: white;
}


/*****************************************************************************************
	
	MANAGE TAGS                                                       MANAGE TAGS

*****************************************************************************************/
#TagList {
	font-weight: 600;
}


.cat-item-details {
	padding: 2rem;
}

.tag-item span {
	background-color: hsla(0,0%,0%,.75);
	color: #aaa;
	display: inline-block;
	font: bold 15px/30px sans-serif;
	line-height: 12px;
	margin: 0 2px 2px 0;
	padding: 12px 17px;
	text-shadow: 0 1px 1px hsla(0,0%,100%,.25), 0 -1px 1px hsla(0,0%,0%,.75);
}

.cat-item a,
.cat-item a:visited {
	background-color: hsla(0,0%,0%,.75);
	color: #aaa;
	display: block;
	float: left;
	font: bold 15px/30px sans-serif;
	line-height: 12px;
	margin: 0 2px 2px 0;
	padding: 12px 17px;
	-webkit-transition: all 0.5s;
	-mz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	text-shadow: 0 1px 1px hsla(0,0%,100%,.25), 0 -1px 1px hsla(0,0%,0%,.75);
}

	.cat-item a:hover,
	.cat-item a:focus {
		color: #fff;
	}

.tag-content {
	margin-top: 20px
}


tag-form {
	padding: 1rem;
}

.tag-title {
	margin-left: 1rem;
}

.tag-input {
	margin: 0 2rem;
	margin-bottom: 1rem;
}

.tag-btn {
	margin: 0 1rem;
}

.tag-values {
	margin: 0 1rem;
}

/*****************************************************************************************
	
	TAG DETAILS																		 TAG DETAILS

*****************************************************************************************/

.tag-detail {
	display: grid;
	grid-row-gap: 2rem;
}

.tag-detail-wrapper {
	display: flex;
	flex-wrap: nowrap;
	background-color: white;
	box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-webkit-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-moz-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
}


.tags a {
	color: blue;
}

	.tags a:hover {
		color: darkblue;
	}

.tag-img img {
	height: 60px;
	width: 60px;
}

/*****************************************************************************************
	
	TAG SELECT BOX                                                       TAG SELECT BOX

*****************************************************************************************/


/*sweetalert2*/
div.swal2-container.swal2-center.swal2-backdrop-show > div {
	outline: 4px solid black;
	border: 2px solid blue;
	border-radius: 10px;
}



/*****************************************************************************************
	
	TAG CONTAINER																TAG CONTAINER


*****************************************************************************************/


.tag-container {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: none;
	margin-bottom: 2rem;
	background-color: white;
	padding-left: 1rem;
}
/*****************************************************************************************
	
	RESPONSIVE CARDS																 RESPONSIVE CARDS

*****************************************************************************************/
.card-section {
	display: grid;
	grid-row-gap: 2rem;
}

.card-wrapper {
	display: flex;
	flex-wrap: nowrap;
	background-color: white;
	min-height: 300px;
	box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-webkit-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-moz-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
}

	.card-wrapper > * {
		flex: 1 200px;
	}

.card-image {
	max-width: 400px;
	max-height: 300px;
	overflow: hidden;
	object-fit: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

	.card-image img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
	}

.card-content {
	display: flex;
	flex-direction: column;
	padding: 0 1rem;
}

.card-header {
}

.card-body {
	flex-grow: 1;
}

	.card-body h4 {
		margin-bottom: 0.2rem;
		margin-top: 2rem;
	}

.card-footer {
}

@media (max-width: 665px) {
	.card-wrapper {
		flex-wrap: wrap;
	}

		.card-wrapper > * {
			flex: 1 340px;
		}
}


.post-limited {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media screen and (max-width:990px) {
	.card-image {
		width: 100%;
	}
}

/*****************************************************************************************
	
	COMMENTS																 COMMENTS

*****************************************************************************************/



.comment-container {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: none;
	margin-bottom: 2rem;
	background-color: white;
	padding: 0.5rem;
}

.comment-text {
	margin-left: 0.2rem;
}


.card-comment {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	background-color: none;
	width: 100%;
	box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-webkit-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-moz-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	overflow: hidden;
	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
}

.comment-image {
	width: 60px;
	height: 60px;
}

.comment-item {
	display: flex;
	flex-direction: row;
}


.comment-count {
	text-align: center;
}


/*****************************************************************************************
	
	POST DETAIL VIEW                                                        POST DETAIL VIEW

*****************************************************************************************/

.cat-link a {
	color: blue;
	cursor: pointer;
}

	.cat-link a:hover {
		text-decoration: underline;
	}

.recent-posts ul li {
	margin: 3px;
}

	.recent-posts ul li a {
		color: #333333;
		padding: 2px 4px;
		border-radius: 4px;
		font-size: 1rem;
		cursor: pointer;
		font-style: italic;
		text-decoration: underline;
	}

		.recent-posts ul li a:visited {
			color: #333333;
			padding: 2px 4px;
			border-radius: 4px;
			font-size: 1rem;
			cursor: pointer;
			font-style: italic;
			text-decoration: underline;
		}

		.recent-posts ul li a:hover {
			color: white !important;
			background-color: #d083cf;
			text-shadow: 1px 1px 2px black;
		}

		.recent-posts ul li a:focus {
			color: #333333;
			padding: 2px 4px;
			border-radius: 4px;
			font-size: 1rem;
			cursor: pointer;
			font-style: italic;
			text-decoration: underline;
		}

		.recent-posts ul li a:active {
			color: #333333;
			padding: 2px 4px;
			border-radius: 4px;
			font-size: 1rem;
			cursor: pointer;
			font-style: italic;
			text-decoration: underline;
		}

		.recent-posts ul li a:link:not(:hover) {
			color: #333333;
		}

.post-detail {
	background-color: white;
	padding: 1rem;
	margin-bottom: 2rem;
	box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-webkit-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
	-moz-box-shadow: -1px -2px 12px -4px rgba(16,14,14,0.61);
}


	.post-detail hr {
		border-top: 1px solid lightgray;
		margin-top: 0;
	}

	.post-detail img {
		width: 100%;
		padding: 1rem;
	}

		.post-detail img:hover {
			opacity: 1.0;
		}


.postTitle {
	font-family: 'Montserrat',sans-serif;
	font-size: 2rem;
	font-weight: 700;
}

	.postTitle::first-letter {
		color: #aaa;
		background-color: hsla(0,0%,0%,.75);
		font: bold 150% sans-serif;
		margin: 0 5px 0px 0;
		padding: 5px 12px;
		text-shadow: 0 2px 2px hsla(0,0%,100%,1), 0 -2px 2px hsla(0,0%,0%,1);
		border-radius: 0px;
	}

.post-title, .post-abstract, .post-content {
	font-family: 'Montserrat',sans-serif;
}

.post-title {
	margin-top: 1rem;
	font-size: 2rem;
	font-weight: 700;
	word-break: keep-all;
	white-space: normal;
}

	.post-title::first-letter {
		color: #aaa;
		background-color: hsla(0,0%,0%,.75);
		font: bold 150% sans-serif;
		margin: 0 5px 0px 0;
		padding: 5px 12px;
		-webkit-transition: all 0.5s;
		-mz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 1.5s;
		transition: all 0.5s;
		text-shadow: 0 2px 2px hsla(0,0%,100%,1), 0 -2px 2px hsla(0,0%,0%,1);
		border-radius: 0px;
	}


.post-abstract {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 2rem;
}
	/* the icon for the abstract text*/
	.post-abstract img {
		width: 100px;
		height: 100px;
		margin-right: 1rem;
		float: left;
	}

.post-content {
	padding: 1rem;
}

	.post-content p {
		font-weight: 500;
	}

	.post-content a {
		color: blue;
	}

		.post-content a:hover {
			color: cornflowerblue;
		}

.post-limited p {
	font-weight: 500;
	font-size: 1rem;
	font-family: 'Montserrat',sans-serif;
}

.user-thumbnail img {
	width: 60px;
	height: 60px;
}

.tag-header {
	margin-top: 6rem;
}


/*  the delete button on the comment moderator modal*/
#deleteComment {
	display: inline-block;
}


.modal-dialog {
	top: 20%;
	right: 100px;
	bottom: 0;
	left: 0;
}

/* comment delete modal*/
.comment-warning {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin: 1rem 0;
}

	.comment-warning img {
		height: 2rem;
		display: inline-block;
		width: min-content;
		margin-right: 1rem;
	}

	.comment-warning span {
		font-size: 1.3rem;
		font-weight: bold;
		font-family: 'Montserrat',sans-serif;
	}

.modal-btn {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 2rem;
}

	.modal-btn button {
		margin-right: 1rem;
	}
/*****************************************************************************************
	
	PAGINATION																		PAGINATION

*****************************************************************************************/
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #d083cf;
	border-color: #d083cf;
}
/*****************************************************************************************
	
	CONTACT FORM                                                      CONTACT FORM

*****************************************************************************************/
.footer_top {
	padding: 2rem;
}

	.footer_top img {
		width: 40px;
		margin: 0 1rem;
		padding-top: 10px;
	}

	.footer_top .address,
	.footer_top .email,
	.footer_top .phone {
		display: flex;
		flex-direction: row;
		align-items: flex-start
	}

	.footer_top iframe {
		margin: 2rem 0;
	}

.showEmail, .showPhone {
	color: black;
}

	.showEmail:hover, .showPhone:hover {
		background-color: #d083cf;
	}


/*************************************************************
//
// SWITCH BOX
//
// **************************************************************/

.switch-basic.material-switch-control-indicator::after {
	--color: #484848;
}

.custom-control.material-switch {
	--color: blue;
	padding-left: 0;
}

	.custom-control.material-switch .material-switch-control-input {
		display: none;
	}

		.custom-control.material-switch .material-switch-control-input:checked ~ .material-switch-control-indicator::after {
			background-color: var(--color);
			left: 17px;
		}

	.custom-control.material-switch .material-switch-control-indicator {
		display: inline-block;
		position: relative;
		margin: 0 10px;
		top: 4px;
		width: 32px;
		height: 16px;
		background: #ddd;
		border-radius: 16px;
		transition: 0.3s;
	}

		.custom-control.material-switch .material-switch-control-indicator::after {
			content: '';
			display: block;
			position: absolute;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			transition: 0.3s;
			top: -1px;
			left: -1px;
			background: #a09e9e;
			box-shadow: 0 2px 10px #aaa;
		}

.custom-control.ios-switch {
	--color: #4cd964;
	padding-left: 0;
}

	.custom-control.ios-switch .ios-switch-control-input {
		display: none;
	}

		.custom-control.ios-switch .ios-switch-control-input:active ~ .ios-switch-control-indicator::after {
			width: 20px;
		}

		.custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator {
			border: 10px solid var(--color);
		}

			.custom-control.ios-switch .ios-switch-control-input:checked ~ .ios-switch-control-indicator::after {
				top: -8px;
				left: 4px;
			}

		.custom-control.ios-switch .ios-switch-control-input:checked:active ~ .ios-switch-control-indicator::after {
			left: 0px;
		}

	.custom-control.ios-switch .ios-switch-control-indicator {
		display: inline-block;
		position: relative;
		margin: 0 10px;
		top: 4px;
		width: 32px;
		height: 20px;
		background: #fff;
		border-radius: 16px;
		transition: 0.3s;
		border: 2px solid #ddd;
	}

		.custom-control.ios-switch .ios-switch-control-indicator::after {
			content: '';
			display: block;
			position: absolute;
			width: 16px;
			height: 16px;
			border-radius: 16px;
			transition: 0.3s;
			top: 0px;
			left: 0px;
			background: #fff;
			box-shadow: 0 0 2px #aaa, 0 2px 5px #999;
		}

.custom-control.border-switch {
	--color: #4cd964;
	padding-left: 0;
}

	.custom-control.border-switch .border-switch-control-input {
		display: none;
	}

		.custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator {
			border-color: var(--color);
		}

			.custom-control.border-switch .border-switch-control-input:checked ~ .border-switch-control-indicator::after {
				left: 14px;
				background-color: var(--color);
			}

	.custom-control.border-switch .border-switch-control-indicator {
		display: inline-block;
		position: relative;
		margin: 0 10px;
		top: 4px;
		width: 32px;
		height: 20px;
		background: #fff;
		border-radius: 16px;
		transition: 0.3s;
		border: 2px solid #ccc;
	}

		.custom-control.border-switch .border-switch-control-indicator::after {
			content: '';
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			transition: 0.3s;
			top: 2px;
			left: 2px;
			background: #ccc;
		}

.custom-control.teleport-switch {
	--color: #4cd964;
	padding-left: 0;
}

	.custom-control.teleport-switch .teleport-switch-control-input {
		display: none;
	}

		.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator {
			border-color: var(--color);
		}

			.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::after {
				left: -14px;
			}

			.custom-control.teleport-switch .teleport-switch-control-input:checked ~ .teleport-switch-control-indicator::before {
				right: 2px;
				background-color: var(--color);
			}

	.custom-control.teleport-switch .teleport-switch-control-indicator {
		display: inline-block;
		position: relative;
		margin: 0 10px;
		top: 4px;
		width: 32px;
		height: 20px;
		background: #fff;
		border-radius: 16px;
		transition: 0.3s;
		border: 2px solid #ccc;
		overflow: hidden;
	}

		.custom-control.teleport-switch .teleport-switch-control-indicator::after {
			content: '';
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			transition: 0.3s;
			top: 2px;
			left: 2px;
			background: #ccc;
		}

		.custom-control.teleport-switch .teleport-switch-control-indicator::before {
			content: '';
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			transition: 0.3s;
			top: 2px;
			right: -14px;
			background: #ccc;
		}

.container {
	width: 90%;
}

/*****************************************************************************************
	
	SLIDER																			SLIDER

*****************************************************************************************/



#latestPosts, #latestComments, #latestCategories {
	width: 100%;
	height: 320px;
	/*	overflow-y: scroll;*/
	overflow: hidden;
}


.latest_post {
	margin-top: 1rem;
	float: left;
	display: inline;
	width: 100%;
	overflow: hidden;
}

	.latest_post > h2 {
		background: none repeat scroll 0 0 #151515;
		color: #fff;
		font-family: 'Oswald',sans-serif;
		font-size: 18px;
		margin-top: 5px;
		font-weight: 400;
		margin-bottom: 10px;
		margin-left: 0;
		padding: 0;
		position: relative;
		text-align: center;
		text-transform: uppercase
	}

		.latest_post > h2 span {
			padding: 4px 10px;
			background: none repeat scroll 0 0 #d083cf;
		}

.latest_post .view-all-icon {
	height: 30px;
	width: 30px;
	margin-left: 20px;
}

.latest_postnav {
	height: auto !important;
/*	margin-top: 20px;*/
}

	.latest_postnav li {
		margin-bottom: 10px;
		float: left;
		width: 100%;
		font-weight: bold;
	}

.latest_post_container .prev-button, next-button {
	display: block
}



.latest_post_container {
	display: inline;
	float: left;
	height: 380px;
	position: relative;
	width: 100%;
	overflow: hidden
}


.prev-button {
	cursor: pointer;
	font-size: 20px;
	left: 0;
	/*    position: absolute;*/
	text-align: center;
	top: 0px;
	width: 100%;
	/*    display: none*/
}

.next-button {
	color: #d083cf;
	cursor: pointer;
	/*	display: none;*/
	font-size: 20px;
	left: 0;
	/*    position: absolute;*/
	text-align: center;
	bottom: 0;
	width: 100%
}

	.prev-button i, .next-button i {
		color: #d083cf;
	}


/*****************************************************************************************
	*****************************************************************************************
	*****************************************************************************************

	
	MEDIA QUERIES                                                      MEDIA QUERIES


	*****************************************************************************************
	*****************************************************************************************
*****************************************************************************************/
@media(max-width:767px ) {
	html {
		font-size: 16px;
	}

	.header_top_right {
		display: flex;
		justify-content: start;
	}
}

@media (max-width:750px) {
	.post-title {
		font-size: 1.5rem;
	}


		.post-title p {
			word-break: break-all;
			white-space: normal;
		}

	.post-detail h3 {
	}

	.post-abstract {
		font-size: 1.1rem;
		margin-right: 0;
		padding: 0;
	}
		/* the icon for the abstract text*/
		.post-abstract img {
			width: 30px;
			height: 30px;
			padding: 0;
			margin-right: 0.5rem;
		}

	.post-content {
		padding: 1rem;
	}

		.post-content p {
			font-weight: 500;
			font-size: 0.9rem
		}

	.post-limited p {
		font-weight: 500;
		font-size: 1rem;
		font-family: 'Montserrat',sans-serif;
	}

	.tag-header {
		margin-top: 6rem;
	}
}


@media(max-width:660px ) {
	.container {
		width: 100%;
	}
}


@media (max-width:470px) {
	.post-title {
		font-size: 1rem;
	}


		.post-title p {
			word-break: keep-all;
			white-space: normal;
		}

	.post-detail h3 {
	}

	.post-abstract {
		font-size: 0.8rem;
		margin-right: 0;
		padding: 0;
	}
		/* the icon for the abstract text*/
		.post-abstract img {
			width: 20px;
			height: 20px;
			padding: 0;
			margin-right: 0.5rem;
		}

	.post-content {
		padding: 0.2rem;
	}

		.post-content p {
			font-weight: 500;
			font-size: 0.6rem
		}

	.post-limited p {
		font-weight: 500;
		font-size: 1rem;
		font-family: 'Montserrat',sans-serif;
	}

	.tag-header {
		margin-top: 4rem;
	}
}

@media(max-width:370px ) {
	.latest_newsarea span {
		font-size: 12px;
		line-height: 2.2em;
		padding: 2px 10px 1px 10px
	}

	.post-detail .tag-header h3 {
		font-size: 1.2rem;
	}

	.post-detail h3 {
		font-size: 1.2rem;
	}

	.post-abstract img {
		display: none;
	}

	.post-title p {
		word-break: keep-all;
		white-space: normal;
		padding: 0;
		margin: 0;
	}

	.post-title .first-letter {
		color: black;
		background-color: white;
		margin-bottom: 1.2rem;
		padding: 0;
		-webkit-transition: none;
		-mz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
		text-shadow: none;
		border-radius: 0;
	}
}
