@{ 
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "/Views/Shared/_LayoutAccount.cshtml";
}


<head>

    <link rel="stylesheet" href="~/assets/css/site.css" asp-append-version="true" />
</head>
<h2>Manage your account</h2>

<style>
    body{
        height: 100vh;
    }
</style>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8" style="margin-top:2rem;">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
