@model IEnumerable<DevBlog5.Models.Tag>
@using DevBlog5.Services


@foreach (var tag in Model)
{
    <li class="cat-item">
        <a asp-area="" asp-controller="Posts" asp-action="TagPostIndex" asp-route-tag="@tag.Text" class="media-left">
            @tag.Text
        </a>
    </li>
}