@page
@model LoginModel
@using DevBlog5.Areas.Identity.Pages.Account


@{
    ViewData["Title"] = "Log in";
}

<style>
    a{
        color: blue;
    }
    a:hover{
        color: darkblue;
    }

</style>



<h2>@ViewData["Title"]</h2>
<br />

<div class="row">
    <div class="col-md-6">
        <section>
@*            <div class="row d-flex gy-2 mt-5 mb-5 justify-content-start">
                <div class="col-md-4">
                    <form id="account" method="post">
                        <input hidden asp-for="Input.Email" value="sunday@sleepycafe.com" />
                        <input hidden asp-for="Input.Password" value="Abc&123!" />
                        <button id="login-submit" type="submit" class="w-100 btn btn-actions btnlinks me-2">Demo Admin Login</button>
                    </form>
                </div>
                <br />
            </div>*@
            <div class="row d-flex gy-2 mt-5 mb-5 justify-content-start">
                <div class="col-md-4">
                    <form id="account" method="post">
                        <input hidden asp-for="Input.Email" value="blogUser@team633657.testinator.com" />
                        <input hidden asp-for="Input.Password" value="Abc&123!" />
                        <button id="login-submit" type="submit" class="w-100 btn btn-actions btnlinks me-2">Demo User Login</button>
                    </form>
                </div>
                <br />
            </div>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
