@model DevBlog5.Models.Post
@using DevBlog5.Enums

@{
    ViewData["Title"] = "Create";
}

<h1>Create Post</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <br />Blog Name: <label asp-for="BlogId" class="control-label">@ViewData["BlogId"]</label>
                <br />Blog Select: <select asp-for="BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>

                <br />Blog Id PassId: <input id="BlogId" asp-for="BlogId" value="" style="width: 50px;"/>  @*the passId function sets this value*@

                
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <textarea asp-for="Abstract" class="form-control"></textarea>
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="summernote" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group tag-form">
                <div class="row">
                    <div class="col tag-title">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col tag-input">
                                <input type="text" class="form-control" id="TagEntry" />

                            </div>
                        </div>
                        <div class="row tag-btn">
                            <div class="col">
                                <button onclick="AddTag()" name="Add" type="button" class="btn btn-actions btn-sm btn-block">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col tag-values">
                        <select class="btn-block" name="TagValues" id="TagList" multiple></select>
                        <button onclick="DeleteTag()" name="Delete" type="button" class="btn btn-actions btn-sm btn-block">Delete</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ReadyStatus" class="control-label"></label>
                <select asp-for="ReadyStatus" class="form-control" asp-items="@Html.GetEnumSelectList<ReadyStatus>()"></select>
                <span asp-validation-for="ReadyStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" accept=".jpg,.png,.jpeg,.gif,.svg,.webp" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-actions" type="submit" value="Create">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><img src="~/assets/images/skip-backward-fill.svg" style="width: 2rem;" /></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        let tagValues = '@ViewData["TagValues"]';
    </script>

    <script>
        $('#summernote').summernote({
            placeholder: 'Post body',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>
    <script src="~/assets/js/tags.js"></script>
    <script>
        passId();
    </script>
}
