@model DevBlog5.ViewModels.PostDetailViewModel
@using DevBlog5.Enums


@{
    ViewData["Title"] = "Create";
}

<div class="create-post-header">
    Create New Post in &nbsp;<span>@ViewData["BlogName"]</span>
</div>

<div class="row">
    <div class="col-md-10">
        <form asp-controller="Posts" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <br /><label asp-for="Post.BlogId" class="control-label"></label>
                <select asp-for="Post.BlogId" class="form-control" asp-items="ViewBag.BlogId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Abstract" class="control-label"></label>
                <textarea asp-for="Post.Abstract" class="form-control"></textarea>
                <span asp-validation-for="Post.Abstract" class="text-danger"></span>
            </div>
            <div id="article" class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <textarea id="summernote" asp-for="Post.Content" class="form-control"></textarea>
                <span id="contentVal" class="text-danger"></span>
            </div>

            <div class="form-group tag-form">
                <div class="row">
                    <div class="col tag-title">
                        <label class="control-label">Manage Tags</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col tag-input">
                                Add New Tag
                                <br />
                                <input type="text" class="form-control" id="NewTag" />
                                <br />Choose Tag From List
                                <select class="form-control" asp-items="ViewBag.TagId" id="ChooseTag">
                                    <option value="" selected disabled hidden>Choose tag...</option>
                                </select>
                            </div>
                        </div>
                        <div class="row tag-btn">
                            <div class="col">
                                <button onclick="AddTag()" name="Add" type="button" class="btn btn-sm btn-block btn-actions">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col tag-values">
                        <select class="btn-block" name="TagValues" id="TagList" multiple >
                            <option>Default Tag(remove)</option>
                        </select>
                        <span id="tagVal" class="text-danger"></span>
                        <button onclick="DeleteTag()" name="Delete" type="button" class="btn btn-sm btn-block btn-actions">Delete</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Post.ReadyStatus" class="control-label"></label>
                <select id="readyStatus" asp-for="Post.ReadyStatus" class="form-control" asp-items="@(Html.GetEnumSelectList<ReadyStatus>())"></select>
                <span id="readyVal" asp-validation-for="Post.ReadyStatus" class="text-danger"></span>
            </div>

            <!--for create method set image to default-->
            <div class="preview-img">
                <img id="createPostImage" class="img-fluid" src="~/assets/images/defaultUserImage.png">
            </div>
            <!--update image after change-->
            <div class="form-group">
                <label asp-for="Post.Image" class="control-label"></label>
                <input type="file" asp-for="Post.Image" class="form-control" accept=".jpg,.png,.jpeg,.gif,.webp,.tif,.bmp"
                       onchange="document.getElementById('createPostImage').src=window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Post.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="createBtn" class="btn btn-actions" type="submit" value="Create">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a onclick="javascript:history.back()"><img src="~/assets/images/skip-backward-fill.svg" style="width: 2rem;" /></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        let tagValues = '@ViewData["TagValues"]';
    </script>

    <script>
        $('#summernote').summernote("code", "<p>Content required</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>", {
            placeholder: 'Post body',
            tabsize: 2,
            height: 120,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });
    </script>

    <script src="~/assets/js/tags.js"></script>
}
