@using DevBlog5.Models
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common

@model IPagedList<Blog>

<h1>
    Posts for... <br />
</h1>
<div style="width: 60%">
    <h4>There are no posts for this blog, would you like to create one?</h4>
@*    <div>
        <a class="btn btn-info btn-block" asp-controller="Posts" asp-action="Create" asp-route-id="id">test create</a>
    </div>*@
    <div>
    <a id="createRoute" class="btn btn-primary btn-block" asp-action="Create" asp-route-id="">Create New</a>
   </div>
    <div>
        <a class="btn btn-primary btn-block" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">No, Return to Blog list.</a>
    </div>
</div>

@section Scripts 
{
    <script>
        //alert(localStorage.getItem("blogId"));
        getId();
        setRouteId();
    </script>
}